header {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}

.container-votacoes, .votacao-container {
    max-width: 80vw;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: var(--primary-color);
    color: white;
}